<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('page:change', function(){
      $('.button-collapse').sideNav();
    });
  </script>
  <script type="text/javascript">
    $(document).on('page:change', function(){
      $('.parallax').parallax();
    });
  </script>
  <script type="text/javascript">
    $(document).on('page:change', function(){
      $(".dropdown-button").dropdown();
    });
  </script>
<% end %>

<div class="parallax-container">
  <div class="parallax"><img src="assets/sampleBG2.jpg"></div>
</div>

<div class="row" style="padding-top:20px">

  <div class="col s4">
    <div style="text-align:center">
    <i class="large material-icons">insert_chart</i>
    </div>
    <h5 class="center">Sourcing</h5>
    <p class="light center promo-col-info">Technologies brand, citizen-media enterprise empower methodologies cross-media bleeding-edge frictionless eyeballs optimize create, seize initiatives. Next-generation interfaces syndicate incentivize embedded. Interactive drive cutting-edge plug-and-play innovative relationships addelivery bricks-and-clicks harness, e-markets experiences infomediaries cutting-edge infrastructures.</p>

  </div>

  <div class="col s4">
    <div style="text-align:center">
      <i class="large material-icons">insert_chart</i>
    </div>
    <h5 class="center">Manufactoring</h5>
    <p class="light center promo-col-info">Technologies brand, citizen-media enterprise empower methodologies cross-media bleeding-edge frictionless eyeballs optimize create, seize initiatives. Next-generation interfaces syndicate incentivize embedded. Interactive drive cutting-edge plug-and-play innovative relationships addelivery bricks-and-clicks harness, e-markets experiences infomediaries cutting-edge infrastructures.</p>
  </div>

  <div class="col s4">
    <div style="text-align:center">
      <i class="large material-icons">insert_chart</i>
    </div>
    <h5 class="center">Development</h5>
    <p class="light center promo-col-info">Technologies brand, citizen-media enterprise empower methodologies cross-media bleeding-edge frictionless eyeballs optimize create, seize initiatives. Next-generation interfaces syndicate incentivize embedded. Interactive drive cutting-edge plug-and-play innovative relationships addelivery bricks-and-clicks harness, e-markets experiences infomediaries cutting-edge infrastructures.</p>
  </div>

</div>

<div class="parallax-container">
  <div class="parallax"><img src="assets/sampleBG1.jpg"></div>
</div>

          